.title
  height auto
  padding 10px 30px

  text-align left
  font-family Helvetica Neue, Helvetica, serif
  font-weight 200

  background rgba( 255, 255, 255, 0.8 )
  color black

.subtitle
  font-size 14px
