<div class="live-score"><div>
  <div class="score visited">Visited <div>0</div></div>
  <div class="score resource">Resource Total <div>0</div></div>
  <div class="score survived-for">Since last report <div>0:00.00</div></div>
</div></div>
