<div class="story-end"><div>
  <div>
    <a class="story-end-hide" href="#" onclick="$('.story-end-1, .story-end-hide').hide(); $('.story-end-show').show(); return false;">hide</a>
    <a style="display:none" class="story-end-show" href="#" onclick="$('.story-end-1, .story-end-hide').show(); $('.story-end-show').hide(); return false;">show</a>
  </div>

  <div class="story-end-1">
  <p>Space Anomaly 3122D - Report 6</p>

  <p>Time is short ...</p>

  <p>I hope you find this capsule. The data I have found should be useful.</p>

  <p>Goodbye.</p>

  <!-- <p>It feels like I can taste the vacuum outside, but I know my brain is just playing tricks on me.</p> -->

  <p>- Theresa<br>
  -- END OF ENTRY --</p>
  </div>

  <div class="final-score">
    <div class="score visited">Visited <div>0</div></div>
    <div class="score resource">Resource Total <div>0</div></div>
    <div class="score survived-for">Survived For <div>0:00.00</div></div>
  </div>

  <div class="click-to-dismiss"><a href="#" onclick="location.reload();return false;">Click to Play Again</a></div>
</div></div>
