<div class="story-start"><div>
  <p>Space Anomaly 3122D - Report 5</p>

  <p>The hole in space we found was not what we expected. We had sent probes through to here and thoroughly analyzed the data that came back. It was confusing though. The strange thing was, the only observable matter visibly was that that the probe was at that time touching.</p>

  <p>Eventually each probe returned to us, but I have not been able to discover any exit. My oxygen supply is running short and it is growing tough to find resources to power the oxygen scrubber that I have left at the location I entered this exotic space at. I fear I will die here.</p>

  <p>However I am not letting this get me down. This is an amazing place I never would have imagined that I would get to explore. I will continue to collect data and strive to return so that I may give my report in person instead of these datams I leave for whoever may ... well, best not jinx myself.</p>

  <p>- Theresa<br>
  -- END OF ENTRY --</p>

  <div class="click-to-dismiss">Click To Dismiss</div>
</div></div>
